Flask
Flask-SocketIO
opencv-python
websockets
pyaudio
numpy
rpi-lgpio
python-socketio
requests
sounddevice
soundfile
pillow
scipy
matplotlib
pyserial
gpiozero
picamera2
pyttsx3
SpeechRecognition
pandas
pyyaml
pytest
pytest-cov
gunicorn
uvicorn
fastapi
